
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: (585px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background: url('https://images.unsplash.com/photo-1454817481404-7e84c1b73b4a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f4cef962c8ddea0da93e59299350831') no-repeat center center fixed;
}

.header {
  height: 75px;
  width: 100%;
  background-color: #009999;
  font-family: 'Arimo', sans-serif;
  font-size: 75px;
  text-align: center;
  padding-bottom: 100px;
  color: white;
}

.footer {
  height: 75px;
  width: 100%;
  background-color: #009999;
}

.convo{
  border: 5px solid black;
  height: 150px;
  background-color: white;
}

body {
  background-color: #ccffff;
}

.one {
  margin-top: 35px;
}

.two {
  margin-top: 35px;
}

.three {
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer {
  margin-top: 250px;
}

.comment-button {
  background-color: white;
}
