
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: (985px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}



.header {
  height: 75px;
  width: 100%;
  background-color: #009999;
}

.footer {
  height: 75px;
  width: 100%;
  background-color: #009999;
}

.container{
  background-color: #ccffff;

}

body {
  background-color: #ccffff;
}

.one {
  margin-top: 35px;
}

.two {
  margin-top: 35px;
}

.three {
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer {
  margin-top: 250px;
}

.comment-button {
  background-color: white;
}
